# Sheet

TYPE={{ type }}
PROJECT_ID={{ project_id }}
PRLIST_PRIVATE_KEY_ID={{ prlist_private_key_id }}
PRLIST_PRIVATE_KEY={{ prlist_private_key }}
PRLIST_CLIENT_EMAIL={{ prlist_client_email }}
PRLIST_CLIENT_ID={{ prlist_client_id }}
AUTH_URI={{ auth_uri }}
TOKEN_URI={{ token_uri }}
AUTH_PROVIDER={{ auth_provider }}
PRLIST_CLIENT_URL={{ prlist_client_url }}
PIPELINE_SPREADSHEET_ID={{ pipeline_spreadsheet_id }}

#Slack

MA_SLACK_BOT_TOKEN={{ ma_slack_bot_token }}

#DB
QUOTES_HOSTNAME={{ quotes_hostname }}
MYJET_HOSTNAME={{ myjet_hostname }}
USER={{ user }}
PASSWORD={{ password }}